<%=render 'layouts/fix_navbar' %>
<div class="container-fluid well">
<div class="container">
  <div class="row">

      <%= render 'layouts/side_bar'%>
      <div class="col-md-9 pull-right">
        <%= image_tag("banner_charity_fund.png")%>
      </div>
  </div>
</div>
</div>
